.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  left : 0px;
  right: 0px;
  max-width: 240px;
  min-width: 150px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #212121;
  border-radius: 5px;
}

.context-menu img{
  max-height: 32px;
  margin-right: 24px;
}

.context-menu__item {
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 0px 0px 2px 0px;
}

.context-menu__item:last-child{
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 0px 0px 0px 0px;
}

.context-menu__link {
  display: block;
  padding: 24px 24px;
  color: #0066aa;
  text-decoration: none;

}



.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
  border : none;
}

.context-menu ul {
  list-style-type: none;
  padding: 0px;
  margin : 0px;
}




.context-menu a {
  text-decoration: none;
}



.context-menu--active {
  display: block;
}