@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('../fonts/lora-regular-webfont.woff2') format('woff2'),
         url('../fonts/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	background-color: #FAFAFA;
	background-size : cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    /*
	height: 100%;
	width: 100%;
    */
    font-family: latoregular;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;

    color: rgba(255, 255, 255, 1);
}

.content {
    display: inline-block;
}

.leftMenu {
    float: left;

    width: 300px;
    max-width: 70%;
    transition : all 0.3;
    -webkit-transition: all 0.3s;
}

.leftMenu.inactive  {
    left: -300px;
}

.leftMenu.active {
    left: 0px;
}

.menuHeader {
    width: 100%;
    height: 50px;
    background-color: #E53935;
}

.menuHeader h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
}

.menuItem {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 40px;

    transition : all 0.3s;
}

.menuItem a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.menuItem:hover {

    background-color: #E57373;
}