@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('../fonts/lora-regular-webfont.woff2') format('woff2'),
         url('../fonts/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	background-color: #FAFAFA;
	/*background-image: url('../img/ViewOnPlams.png');*/
	background-size : cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	color : #FFFFFF;
	overflow : hidden;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.5s;
}

.bigCircle{
	position: absolute;
	left: calc(50% - 150px);
	top : calc(50% - 150px);

	width: 300px;
	height: 300px;

	border-radius: 50%;

	background-color: #009688;

	transform-origin: 50% 50%;

	transform: scale(1.0);

	cursor: pointer;

	z-index: 4;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.bigCircle.inactive:hover {

	/*transform: scale(1.5);*/
}

.bigCircle.active {
	transform: scale(1.2);
	transform: rotate(45deg);
	border-radius: 5%;
	box-shadow: 0px 0px 20px #424242;
}

@keyframes pulse{
	0% {transform: scale(1.0);opacity: 0.5}
	100% {transform: scale(1.2);opacity: 0}
}

.subCircle{
	position: absolute;
	left: calc(50% - 150px);
	top : calc(50% - 150px);

	width: 300px;
	height: 300px;

	border-radius: 50%;

	background-color: #009688;

	transform-origin: 50% 50%;

	z-index: 3;

	animation: pulse 1s ease-out 1s infinite;
}

.subCircle.active {
	border-radius: 5%;
	transform: rotate(45deg);
}

#clickMeCenterText {
	position: relative;
	top: calc(50% - 1.4em);
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	display: block;
	width: 100%;

	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

.menuItem{
	font-family: latolight;
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #009688;
	top: calc(50% - 100px);
	z-index: 2;
	border-radius: 5%;
	text-align: center;
	cursor: pointer;

	transform-origin: 50% 50%;
	transform: rotate(45deg);

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}


.menuItem:hover {
	z-index: 3;
}

.menuItem h1 {
	text-align: center;
	position: relative;
	top: 50%;
	transform-origin: 50% 50%;
	transform: translateY(-50%) rotate(-45deg);
	margin: 0px;
	cursor: pointer;
	pointer-events:none;

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.visible#gamesItem {
	background-color: #EF6C00;
	top : calc(50% + 80px);
	left: calc(50% + 80px);
}

.visible#artItem {
	color: rgb(0, 0, 0, 0.87);
	top : calc(50% + 80px);
	left: calc(50% - 280px);
	background-color: #E91E63;
}

.visible#progItem {
	top : calc(50% - 280px);
	left: calc(50% + 80px);
	background-color: #1E88E5;
}

.visible#persoItem {
	top : calc(50% - 280px);
	left: calc(50% - 280px);
	background-color: #E53935;
}

.selected.visible#persoItem {
	z-index: 5;

	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
	transform:  rotate(45deg) scale(1.8);
	opacity: 0;
}

.selected.visible#progItem {
	z-index: 5;

	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
	transform:  rotate(45deg) scale(1.8);
	opacity: 0;
}

.selected.visible#gamesItem {
	z-index: 5;

	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
	transform:  rotate(45deg) scale(1.8);
	opacity: 0;
}

.selected.visible#artItem {
	z-index: 5;

	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
	transform:  rotate(45deg) scale(1.8);
	opacity: 0;
}

.menuItem.hidden{
	top: calc(50% - 100px);
	left: calc(50% - 100px);
}


.menuItem.visible:hover {
	transform:  rotate(45deg) scale(1.1);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
	z-index: 5;
}

.myName {
	font-family: loraregular;
	position: absolute;
	text-align: center;
	z-index: 0;
	color: rgba(0, 0, 0, 0.38);
	font-size: 5em;

	left: 50%;
	top : 50%;

	cursor: pointer;
	pointer-events:none;

	transform-origin: 50% 50%;
	transform: rotate(0deg);

	transform: translate(-50%, -50%);
	z-index: 4;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;


	transition: all 0.3s;
	-webkit-transition: all 0.3s;

	white-space: nowrap;
	overflow: hidden;
}

.myName.active {
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}

section {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.mainSection {

}

.aboutSection {
	position: absolute;

	top: 0px;
	left: 0px;
	z-index: 5;
	width: 100%;
	height: 100%;

	overflow: hidden;

	background-color: #FF73FF;

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.aboutSection.hidden {
	top: -100%;
}

.programmingSection {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.programmingSection.hidden {
	top: -100%;
}

.gamesSection {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.gamesSection.hidden {
	top: -100%;
}


.artSection {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.artSection.hidden {
	top: -100%;
}

.visible {
	opacity: 1;
}


.hidden {
	opacity: 0;
}

.black {
	background-color: #424242;
}