<DOCTYPE html>
<html>
<head>
    <title> Baptiste Maréchaux </title>
    <link rel="stylesheet" href="../style/cv.css" />
	<script src="./public/scripts/pf.js"></script>
	<meta charset="UTF-8">
</head>
<body>
    <section id="mainLeftMenu" class="leftMenu">
        <div class="menuHeader"><h1>Navigation</h1></div>
        <div class="menuContent">
            <div class="menuItem"><a href="#">Expériences</a></div>
            <div class="menuItem"><a href="#">Formation</a></div>
            <div class="menuItem"><a href="#">Compétences</a></div>
        </div>
    </section>
</body>
</html>