<DOCTYPE html>
<html>
<head>
    <title> Baptiste Maréchaux </title>
    <link rel="stylesheet" href="../style/prog.css" />
	<script src="../scripts/prog.js"></script>
	<meta charset="UTF-8">
</head>
<body>
    <h1>Programming</h1>
    <div>
        <h2>2016</h2>
        <ul class="yearProjectList">
            <li>This Website</li>
            <li>3D Extrusion</li>
            <li>Curves</li>
            <li>Boids</li>
            <li>Obj Loader OpenGL</li>
        </ul>
        <h2>2015</h2>
        <ul class="yearProjectList">
            <li>Clipping & Filling</li>
            <li>Semi-Automatic Rigging</li>
            <li>Quauntic Colored Dream</li>
            <li>Blender 3D terrain generator</li>
        </ul>
        <h2>2014</h2>

    </div>
</body>
</html>